.homeBanner{
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.homeBanner-slider{
    width: 100%;
}
.homeBanner-card{
    display: block;
    width: 100%;
    position: relative;
}
.homeBanner-card-img{
    width: 100%;
    z-index: -1;
}
.homeBanner-card-content{
    display: block;
    width: 100%;
    position: absolute;
    top: 30%;
    padding: 1rem;
}
.homeBanner-card-minTitle{
    display: block;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: var(--color-gray-1);
}
.homeBanner-card-bigTitle{
    display: block;
    font-family: var(--font-black);
    font-size: 2rem;
    width: 20rem;
    font-weight: 700;
    color: var(--color-black);
}
.homeBanner-card-price{
    display: block;
    font-family: var(--font-black);
    font-size: 1.5rem;
    color: var(--color-gray-2);
}
/* style btn custom.css */
/* .homeBanner-card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    width: 170px;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: var(--color-gray-3);
    transition: all 0.3s ease-in-out;  
}
.homeBanner-card-btn:hover{
    color: var(--color-gray-1);
    background-color: var(--color-white-1);
} */


.bannerHome-card{
    display: block;
    position: relative;
    margin-bottom: 1.5rem;
}
.bannerHome-card-img{
    width: 100%;
}
.bannerHome-card-content{
    display: block;
    position: absolute;
    top: 30%;
    padding-right: 1rem;
}
.bannerHome-card-title{
    display: block;
    font-family: var(--font-black);
    font-size: 1.6rem;
    width: 15rem;
    color: var(--color-black);
}
.bannerHome-card-productName{
    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--color-gray-2);
}


 /*  Media Query  */

 @media only screen and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
@media only screen and (max-width: 992px) {
    .container{
        max-width: 720px;
    }
        
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
   
}
@media only screen and (max-width: 576px) {
    .container{
        max-width:  100%;
    }
    .homeBanner-card-bigTitle{
        font-size: 100%;
    }
    .homeBanner-card-price{
        display: none;
    }
    .homeBanner-card-btn{
        display: none;
    }
}