.titleCenter{
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-black);
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--color-black);
}

.titleCenter::after{
    position: absolute;
    display: block;
    margin:1.5rem auto;
    left: 0;
    right: 0;
    content: '';
    width: 10rem; ;
    height: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--color-gray-1);
}